body{
    background-color: yellow; /* Cor de fundo */
    font-family: Arial, sans-serif;/* Definindo as fontes */
    margin: 0;
    padding: 0;
}

h1{
    color: greenyellow;
    text-align: center;
    padding: 20px; /* Sdiciona um espaçamento ao redor do texto */
    background-color: yellow; /* Cor do fundo */
}

h2,h3{
    color: greenyellow;
    text-align: center;
    padding: 20px;
    background-color: yellow;
}

p{
    color: #555;
    line-height: 1.6; /* Define a altura da linha para melhorar a legibilidade */
    margin: 20px;
}

a{
    color: blueviolet;
    text-decoration: none; /* remove o sublinhado dos links */
}