<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    <title>Emprega+</title>
</head>
<body>
    <header>
        <img src="emprega+.png" alt="logo">

        <div class="V">
            <a>Vagas</a>
        </div>
        
        <div class="G">
            <a class="G">Sobre Nós</a>
        </div>

        <div class="menu">
            <form action="C:\Users\pgss2\OneDrive\Área de Trabalho\GitHub\Repositorio_Senac\ATV_site\index2.html">
                <button type="submit">Login</button>
                <button class="entrar">Cadastre-se</button>
            </form>
            
        </div>
    
    </header>

    <banner>
        <img class="B" src="foto_banner.png" alt="">
    </banner>
  
    <main>
        <div class="caixa">
            <div class="esquerda">
                <label for="">Qual vaga você procura?</label>
                <input type="text">
            </div>
            <div class="direita">
                <label for="">Filtros</label>
                <input type="text">              
            </div>
            <button>Buscar vagas</button>
        </div>
    </main>

    <h1>Vagas</h1>
    <div class="vagas">
        <div class="vaga1">
            <h2>Analista de Atendimento</h2>
            <h3>CLUB CASA ORGANIZAÇÃO DE EVENTOS</h3>
        </div>
        <div class="info1">
            <p>Arapiraca - AL</p>
            <p>5 Vagas</p>
            <p>Disponivel até 10/08</p>
            <p>CLT</p>
            <p>Ensino Superior</p>
            <p>6:10 Horas</p>
        </div>
        <div class="bnt1">
            <p>Responsável por garantir que o sistema de resgate de pontos funcione de maneira eficiente e que os clientes tenham uma experiência...Ver mais detalhes</p>
            <button type="submit">Candidatar-se a vaga</button>
        </div>

        <div class="vaga2">
            <h2>Assistente Administrativo</h2>
            <h3>Mind coaching</h3>

        </div>
    </div>


    <footer>
        <div class="icones">
            <i class="fa-solid fa-location-dot"></i>
            <i class="fa-brands fa-facebook-f"></i>
            <i class="fa-brands fa-instagram"></i>
        </div>
            

                
        <a class="R">Desenvolvedores</a>
                

                
        <a class="R">Perguntas e Respostas</a>
                

                
        <a class="R">Ajuda</a>

    </footer>
</body>